@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Contact>
@{
    Layout = "master.cshtml";
}

@* the fun starts here *@

<!-- Page Header -->
@Html.Partial("~/Views/Partials/pageHeader.cshtml")

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{Html.RenderAction("RenderForm", "ContactSurface")}
        </div>
    </div>
</div>