@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using ContentModels = Umbraco.Web.PublishedModels;*@

@{
    Layout = "master.cshtml";
}
@* we are using ModelsBuilder *@

@*<div style="color: @Model.ColourName">
    <h1>@Model.Title</h1>
    @Model.MainContent
    <p>Your favourite colour is @Model.ColourName</p>
</div>

@if (Model.ShowImage)
{
    <img src="/media/p2ufr25b/yorkie_umbraco.jpg" title="dog picture"/>
}*@

